.card1{
    background: white;
    border-radius: 0px !important;
  
}

input.mat-input-element {
   
    margin-top: -9px !important;
}

.home{
    color: white;
}

.iconColor{
   color:#929292 !important; 
}
.toolbar{
    background-color: rgb(89, 84, 84);

}

.example-full-width{
    width: 1000px;
}

.material-icons{
    color: white;
}

// .ngcontent-pdc-c2{

//     margin-left: 700px;
// }


.ngcontent-pdc-c1{
    color: white;
    font-family: 'Courier New', monospace;
}


.para{
    color: black;
    font-family: 'Courier New', monospace;
}

.card2{
    background-color: rgb(245, 241, 241); 
    border-radius: 0px !important;
}

.btn2{
    color:white;
    background-color: black;
    margin-left: 30px;
}

.mat-card-image{
    height: 120px;
    width: 259px;
}

.image{
    width: 100%;
}

.btn3{
    color: white;
    background-color: rgb(89, 84, 84);
   
}

.title{
    color: black;
    margin-left: 100px;
}

.titleUp{
    color:black;
    font-family: 'Courier New', monospace;
}

.subtitle{
    color: black;
}

.title1{
    margin-left: 500px;
    margin-top: 37px;
    margin-bottom: 55px;
}


.btn4{
    margin-left: 50%;
}